/* Cores a serem uilizadas no projetto
cor1= #102E50
cor2= #183B4E
cor3= #27548A
cor4= #DDA853
cor5= #F5EEDC
*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{  
    --cor1:#102E50;
    --cor2:#0c212c;
    --cor3:#27548A;
    --cor4:#DDA853;
    --cor5:#F5EEDC;
    --font-site:'Montserrat';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor1);
    color: var(--cor5);
    font-family:var(--font-site);
    overflow-x: hidden;
}
/* header-style */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor2);
    border-radius:5px; ;
    padding: 15px;
    margin: 0 auto;
    width: 58%;
    min-height: 70px;
}
.categorias{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    list-style: none;
}
.opcoes{
    color: white;
    padding: 8px;
    font-weight: bold;
    text-decoration: none;
    
}
.opcoes:hover{
    text-decoration: underline;
}
.active-pag{
    background-color: var(--cor4);
    border-radius: 5px;
    color: var(--cor2);
    pointer-events: none;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
}
/* Main-style */
.container{
    /* background-color: rgb(24, 61, 48); */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column wrap;
    margin: 40px;
}
h1{
    font-size: 3em;
    text-transform: uppercase;
    margin: 20px;
}
.container2{
    display: flex;
    margin-top: 30px;
    width: 60%;
    /* border: 1px solid white; */
    gap: 20px;
}
.planos{
    flex:1;
    background-color:#0c212cc1;
    padding: 20px;
    list-style-position: inside;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cor4);
}
.planos h4{
    border-bottom: 2px solid var(--cor4);
    padding-bottom: 10px;
}
.planos p{
    font-weight: bold;
    margin: 20px 10px 20px 0px;
}
.span-price{
    font-size: 1.4em;
}
.planos ul {
    font-size: 11px;
    margin: 6px;
    flex: 1;
}
.planos li{
    padding-bottom: 9px;
}
.planos li::marker{
    color: var(--cor4);
}
.planos button{
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    font-weight: bold;
    font-size: 1.1em;
    color: var(--cor5);
}
button:hover{
    background-color:#dda853b7;
}