*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}
body,html{
    width: 100vw;
    
}
.container{
    background-color: rgba(128, 128, 128, 0.103);
    padding: .4rem;
    display: grid;
    gap: 2px;
    height: 100vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,1fr);
}
.caixa1{
    background-color: gold;
    grid-area: 1 / 1 / 3 / 6;
}
.caixa2{
    background-color: orange;
    grid-area: 3 / 1 / 4 / 6;
}
.caixa3{
    background-color: red;
    grid-area: 4 / 1 / 7 / 4;
}
.caixa4{
    background-color: blue;
    grid-area: 4 / 4 / 7 / 6;
}
.caixa5{
    background-color: purple;
    grid-area: 7 / 1 / 8 /7;
}