@charset "UTF-8";

.container{
    display: grid;
    height: 250px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    justify-content:stretch;
    align-content: stretch;
    
}
.itens{
    border: 2px solid purple;
    text-align: center;
}