@charset "UTF-8";

.container{
    display: grid;
    padding:20px ;
    border: 3px  solid black;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}
.itens{
    border: 2px solid purple;
    padding: 10px;
    text-align: center;
}