@charset "UTF-8";

.container{
    display: grid;
    border: 3px solid rgb(216, 28, 185);
    /* grid-template-columns: auto auto auto;
    grid-template-rows: 100PX 100PX 100PX; */
    grid-template:50px 50px 50px / auto auto auto;
    gap: 10px;
    /* align-items: stretch;
    justify-items: stretch;
    justify-content:start;
    align-content: center;
    
} */
    place-items: normal normal;
    place-content: normal normal;
    grid-auto-rows: 100PX;
    grid-auto-flow: column;
    grid-auto-columns:100px;
}
.itens{
    border: 2px solid purple;
    text-align: center;
}