*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 60px ;
    grid-template-columns: 1fr  150px;
    text-align: center;

}
.caixa{
    background-color: rgba(128, 128, 128, 0.112);
    border: 1px solid rgba(0, 0, 0, 0.13);
}

#topo{
    grid-area: 1 / 1 / 2 / 3;
}
#menu{
    grid-area: 2 / 1 / 3 / 3;
}
#principal{

    grid-area: 3 / 1 / 4 / 2;
}
#segundo{
    grid-area: 3 / 2 / 4 / 3;
}
#final{
    grid-area: 4 / 1 / 5 / 3;
}