*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html,body{
    height: 100vh;
    width: 100%;
    font-size: 1.8rem;
    padding: 10px;
}
.container{
    display: grid;
    text-align: center;
    grid-template-rows:repeat(3, 100px);
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
}
.caixa1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 5;
    background-color: deeppink;
}
.caixa2{
    background-color: darkmagenta;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:1 ;
    grid-column-end:3 ;
}
.caixa3{
    background-color: darkorchid;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:3 ;
    grid-column-end:5;
}