*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
body{
    width: 100vw;
    height: 100vh;
    
}
h3{
    margin-bottom: 9px;
}
.con-principal{
    padding: 10px;

}
.con-principal h1{
    margin-bottom: 9px;
}
.cont-global{
    background-color: rgb(192, 187, 187);
    padding: 10px;
    margin: auto;
}

.part-1{
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1;
}
img{
    margin: auto;
}
.part-2{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
span{
    margin: auto;
}

.cont-final{
    padding: 10px;
}