*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    
}
h3{
    margin-bottom: 9px;
}
.con-principal{
    padding: 20px;

}
.con-principal h1{
    margin-bottom: 9px;
}
.cont-global{
    background-color: rgb(192, 187, 187);
    padding: 20px;
    
}

.part-1{
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1;
    margin-bottom: 15px;
    gap: 18px;
}

img{
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.363);
}
.part-2{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
}

.vid{
    margin: auto;
    padding: 10px;
}

.cont-final{
    padding: 20px;
}